@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&family=Mulish&family=Nunito+Sans&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

:root {
  --background-content-color: #ffff;
  --hover-regular-color: #002e22;
  --hover-dropdown-color: #e7e7e7;
  --sider-header-background-color1: #008f69;
  --sider-header-background-color2: #002e22;
  --btn-backgroud-color: #008f69;
  --btn-backgroud-color-hover: #006b4f;
  --btn-border-color-focused: #16b48f;
  --btn-border-color-hover: #16b48f;
  --login-background-color: #0f7251;
  --breadcrumb-background-color: #ffff;
  --footer-background-color: #ffff;
  --border-regular: #707070;
  --header-height: 60px;
  --sider-width: 250px;
  --sider-collapsed-width: 75px;
  --text-color: #ffff;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
}

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  line-height: 1.43;
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

.ant-dropdown {
  .ant-dropdown-menu {
    padding: 0px;
  }

  .ant-menu-item:hover {
    background-color: var(--hover-dropdown-color) !important;
  }

  .ant-menu-item-selected {
    background-color: var(--hover-dropdown-color) !important;
  }

  .ant-menu-item {
    margin: 0px;
  }

  .ant-menu-vertical > .ant-menu-item,
  .ant-menu-vertical-left > .ant-menu-item,
  .ant-menu-vertical-right > .ant-menu-item,
  .ant-menu-inline > .ant-menu-item,
  .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 45px;
    line-height: 45px;
  }
}

.ant-menu-item:hover {
  background-color: var(--hover-regular-color) !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--btn-border-color-hover);
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--btn-border-color-focused);
  box-shadow: var(--btn-border-color-focused);
}

.ant-btn-primary {
  background: var(--btn-backgroud-color);
  border-color: var(--btn-backgroud-color);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: var(--btn-backgroud-color-hover);
  background: var(--btn-backgroud-color-hover);
}

.ant-table-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #e8e8e8;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #acacac;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
  padding: 10px 20px;
  font-size: 16px;
}
